:root {
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 207, 2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal:  'Staatliches', cursive;
}

/*Esto de aca abajo es para que 1rem sean 10px*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before*,
*:after {
    box-sizing: inherit;
}

/*Globales:*/

body {
    background-color: var(--primario); /*Un background de color especifico*/
    font-size: 1.6rem; /*Tamaño de la fuente de 16px*/
    line-height: 1.5; /*Un Interlineado de 1.5*/
}

p {
    font-size: 1.8rem; /*Tiene una fuente de 18px*/
    font-family: Arial, Helvetica, sans-serif; /*Esta la familia de la fuente*/
    color: var(--blanco); /*Los parrafos tienen color de letra especifico*/
}

a {
    text-decoration: none; /*Los enlaces no tienen decoracion, subrayado*/
}

img {
    max-width: 100%; /*Las imagenes tienen su ancho maximo*/
}

.contenedor {
    max-width: 120rem; /*El contenedor tiene un ancho de 1200px*/
    margin: 0 auto; /*Para centrar el contenido*/
}

h1,
h2,
h3 {
    text-align: center; /*Un alineado central*/
    color: var(--secundario); /*Un color de letra especifico*/
    font-family: var(--fuentePrincipal); /*Una familia de fuente especifica*/
}

h1 {
    font-size: 4rem; /*Tamaño de letra de 40px*/
}

h2 {
    font-size: 3.2rem; /*Tamaño de letra de 32px*/
}

h3 {
    font-size: 2.4rem; /*Tamaño de letra de 24px*/
}

/*Header*/

.header {
    display: flex; /*Esto sirve para poder mover las cosas, vertical y horizontalmente*/
    justify-content: center; /*Centra el contenido*/
}

.header__logo {
    margin: 3rem 0; /*Margen*/
}

/*Footer*/

.footer {
    background-color: var(--primarioOscuro); /*Color de background especifico*/
    margin-top: 2rem; /*Margen superior de 20px*/
    padding: 1rem 0; /*padding/relleno superior e inferior de 10px*/
}

.footer__texto {
    text-align: center; /*Texto alineado al centro*/
    font-family: var(--fuentePrincipal); /*Fuente de la familia especifica*/
    font-size: 2.2rem; /*Tamaño de la fuente de 22px*/
}

/*Navegacion:*/

.navegacion {
    background-color: var(--primarioOscuro); /*Color de background especifico*/
    padding: 1rem 0; /*Relleno de 10px*/
    display: flex; /*Esto sirve para poder mover las cosas, vertical y horizontalmente*/
    justify-content: center; /*Texto centrado*/
    /*Separación forma nueva*/
    gap: 2rem; /*Separa los elementos con 20px*/

    /*Separación forma vieja
    margin-right: 2rem*/
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal); /*Fuente de familia especifica*/
    color: var(--blanco); /*Color de letra especifica*/
    font-size: 3rem; /*Tamaño de fuente de 30px*/
    margin-right: 2rem; /*Margen derecho de 20px*/
}

.navegacion__enlace:last-of-type { /*Esto ayuda si usas la forma vieja de separar, lo que hace es sacarle el margen al ultimo elemento*/
    margin-right: 0;
}

.navegacion__enlace--activo, /*Esto sirve para cuando esta activo*/
.navegacion__enlace:hover {  /*Esto sirve para que cambie cuando el cursor pasa por encima de él*/
    color: var(--secundario); /*Color especifico al que cambia*/
}

/*Grid*/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

/*Productos*/

.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__imagen {
    width: 100%
}

.producto__nombre {
    font-size: 4rem;

}

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/*Graficos*/

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat; /*Esto hace que no se repita el background (imagen)*/
    background-size: cover; /*Esto hace que la imagen cubra todo el epacio disponible*/
    grid-column: 1 / 3;
}

.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg); /*Para colocar una imagen desde css se debe utilizar url()*/
}

.grafico--node {
    grid-row: 8 / 9;
    background-image: url(../img/grafico2.jpg); 
}

@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/*Nosotros*/

.nosotros{
    display: flex;
    justify-content: center;
}

.nosotros img{
    margin: 0 2rem;
}

.iconos{
    display: grid;
}
